html, body {
    margin: 0;
    padding: 0;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: #48438F;;
}
body {
    width: 100%;
    min-height: 100vh;
    Background-color: #1D1D37;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    text-align-last: center;
    background-image: url(asset/1109914.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: space-between;
}
header{
    color: #fff;
    background-color: #1D1D20;
    padding-top: 2%;
    width:100%;
    height: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
nav{
    max-height: 10vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
#linkHeader {
    align-self: center;
    padding-left:2%;
    font-size:28px;
    padding-bottom: 2%;
    
}
#headerIndex{
    width: 100%;
}
hr{
    Background-color: rgb (0,0,0,0);
    border: none;
    height: 1px;
}
#linkHeader {
    align-self: center;
    padding-left:2%
}
.container {
    margin:auto;
    width: 400px;
    position: relative;
}
.container > div{
    width: 100%;
    position: absolute;
    overflow-y: auto;
    max-height: 300px;
    top: 70px;
    left: 0;
}
.container2 {
    width: 400px;
    position: relative;
    padding-right:2%;
}

.autocompleteInput{
    padding: 25px 15px;
    width: calc(100% - 30px);
    border-radius:1px;
    border: none;
    outline:none;
    color: #48438F;
    font-weight: bold;
    background-color: #FFF;
}
.autocompleteInput::placeholder {
    color: #48438F;
}
.autocompleteList {    
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    position: relative;
}
#countryList2 {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
}

.autocompleteList li{
    color: #48438F;
    padding : 15px;
    width: calc(100% - 50px);
    font-weight: bold;
    cursor: pointer;
}
#artShow{
    width: 100%;
    background-color:rgb(169, 164, 164);
    border: 5px solid black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:3%;
    padding-bottom:3%;
}
.secRecherche{
border: 5px solid black;
background-color:white;
margin: 1%;
}
.secRick{
    border: 5px solid black;
    background-color:white;
}
#bodyRecherche{
    background-color:whitesmoke;
    background-image:none;
}
footer{
color:white;
background-color: #1D1D37;
height:20%;
display:flex;
}
#secFooter{
    display:flex;
    justify-content: center;

}
.text-justify{
    width: 50%;
}

@media (max-width:915px){
    body {
        width: 100%;
        height: 100vh;
        Background-color: #1D1D37;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align-last: center;
        background-image: url(asset/flag.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        align-content: space-between;
    }
    header{
        color: #fff;
        background-color: #1D1D20;
        padding-top: 2%;
        width:100%;
        height: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .responsiveSearch{
        height: 25% !important;
        margin-bottom:5% !important;
        padding: 2% !important;
    }
    .responsiveElement{
        height: 20% !important;
        margin-bottom:5% !important;
        padding: 2% !important;
    }
    h1{
        margin-right: 2% !important;
    }
    body {
        height:100vh;
    }
    .text-justify{
        font-size: x-small;
    }
}