html, body {
    margin: 0;
    padding: 0;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
body {
    width: 100%;
    min-height: 100vh;
    Background-color: #1D1D37;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    text-align-last: center;
}
header{
    color: #fff;
    background-color: #1D1D20;
    padding-top: 2%;
    width:100%;
    height: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
#headerIndex{
    width: 100%;
}
hr{
    Background-color: #1D1D37;
    border: none;
    height: 1px;
}
#linkHeader {
    align-self: center;
    padding-left:2%
}
.container {
    margin:auto;
    width: 400px;
    position: relative;
}
.container > div{
    width: 100%;
    position: absolute;
    overflow-y: auto;
    max-height: 300px;
    top: 70px;
    left: 0;
}
.container2 {
    width: 400px;
    position: relative;
    padding-right:2%;
}

.autocompleteInput{
    padding: 25px 15px;
    width: calc(100% - 30px);
    border-radius:1px;
    border: none;
    outline:none;
    color: #48438F;
    font-weight: bold;
    background-color: #FFF;
}
.autocompleteInput::placeholder {
    color: #48438F;
}
.autocompleteList {    
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
}
#countryList2 {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    width: 100%;
}

.autocompleteList li{
    color: #48438F;
    padding : 15px;
    width: calc(100% - 50px);
    font-weight: bold;
    cursor: pointer;
}
#artShow{
    width: 100%;
    background-color:#FFF;
    border: 5px solid black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:3%;
    padding-bottom:3%;
}